<div class="step1">

  <h1 class="step1__title-first"><span class="text-accent ">Рассчитайте стоимость</span> будущей кухни <span class="text-accent ">за 1 минуту</span> прямо сейчас</h1>

  <p class="step1__title-second">Ответьте на 4 простых вопроса и получите:</p>

  <ul class="step1__bonuses">
    <li class="step1__bonus">
      <img class="step1__bonus-icon" src="assets/images/blue-icon.png" alt="">
      <p class="step1__bonus-text">Расчет стоимости кухни</p>
    </li>
    <li class="step1__bonus">
      <img class="step1__bonus-icon" src="assets/images/blue-icon.png" alt="">
      <p class="step1__bonus-text">Бесплатный замер</p>
    </li>
    <li class="step1__bonus">
      <img class="step1__bonus-icon" src="assets/images/blue-icon.png" alt="">
      <p class="step1__bonus-text">Бонус к заказу</p>
    </li>
  </ul>

  <h2 class="step1__question-title title-default">1. Выберите модель кухни</h2>
  <div class="row step1__question">
    <div class="col-sm-12 col-md-4">
      <div (click)="onImageClick('urban')" class="step1__question__item">
        <img src="assets/images/{{imageFilenames.urban}}" class="step1__question__item__image" alt="URBAN image">
        <h3 class="step1__question__item__title">URBAN</h3>
        <p class="step1__question__item__description">Уголок уюта в интенсивной городской среде</p>
        <p class="step1__question__item__description">Фасады с рельефом наверняка понравятся ценителям традиционной классики. Однако прямые строгие линии гарнитура, вместительные шкафы с лёгким доступом и минимальное декоративное оформление позволяют причислить кухню Urban к современному стилю.</p>
        <p class="step1__question__item__description">ДСП покрыто итальянской плёнкой Serica приятна на ощупь, а также защищена от царапин и отпечатков пальцев. А в случае появления микро царапин, их легко можно скрыть при помощи термообработки. </p>
        <p class="step1__question__item__description">Плёнка Serica — это прорыв в сфере суперматовых покрытий: глубокоматовая, антибликовая и при этом гибкая. </p>
        <p class="step1__question__item__description">Кроме того, изготовленная из долговечных материалов и комплектующих европейского производства, кухня обладает высокими эксплуатационными характеристиками, что гарантирует исправную службу в течение многих лет. </p>
        <p class="step1__question__item__price">Стоимость за м/п 10750 грн</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div (click)="onImageClick('bergen')" class="step1__question__item">
        <img src="assets/images/{{imageFilenames.bergen}}" class="step1__question__item__image" alt="URBAN image">
        <h3 class="step1__question__item__title">Bergen</h3>
        <p class="step1__question__item__description">Отлично вписана в интерьер современного жилья</p>
        <p class="step1__question__item__description">Врезной профиль Gola Италия Комбинирование итальянских фактурных фасадов Saviola и 3-х слойной пленки Niemann (Германия).</p>
        <p class="step1__question__item__description">В итоге получается хороший крепкий фасад с изысканной глянцевой поверхностью необычайной красоты. К достоинствам материала можно отнести лёгкий вес, ударопрочность, устойчивость к температурным воздействиям и влаги.</p>
        <p class="step1__question__item__description">В данной кухне вмонтирован профиль Gola, который делает мебель удобнее и красивее. Его использование позволяет полностью отказаться от традиционной лицевой фурнитуры.</p>
        <p class="step1__question__item__description">За функциональную составляющую кухонного гарнитура отвечает фурнитура ведущего производителя фурнитуры Blum.</p>
        <p class="step1__question__item__price">Стоимость за м/п 11700 грн</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div (click)="onImageClick('solo')" class="step1__question__item">
        <img src="assets/images/{{imageFilenames.solo}}" class="step1__question__item__image" alt="URBAN image">
        <h3 class="step1__question__item__title">SOLO</h3>
        <p class="step1__question__item__description">Функциональное решение для маленькой квартиры</p>
        <p class="step1__question__item__description">Сочетание актуальных натуральных, древесных фасадов ДСП Kronospan серии Contempo и глубоких матовых цветов Uni.</p>
        <p class="step1__question__item__description">Наиболее сочитаемыми ручками в данной кухне это ручка-скоба и ручка-кнопка – накладная фурнитура, что будет исполнять роль украшения Вашей мебели. Их главными особенностями являются простота и элегантность стиля.</p>
        <p class="step1__question__item__description">За функциональную составляющую кухонного гарнитура отвечает фурнитура ведущего производителя фурнитуры Blum.</p>
        <p class="step1__question__item__price">Стоимость за м/п 8955 грн</p>
      </div>
    </div>
  </div>
</div>
