<div class="step1">

  <h1 class="step1__title-first"><span class="text-accent ">Рассчитайте стоимость</span> будущей кухни <span class="text-accent ">за 1 минуту</span> прямо сейчас</h1>

  <p class="step1__title-second">Ответьте на 4 простых вопроса и получите:</p>

  <ul class="step1__bonuses">
    <li class="step1__bonus">
      <img class="step1__bonus-icon" src="assets/images/blue-icon.png" alt="">
      <p class="step1__bonus-text">Расчет стоимости кухни</p>
    </li>
    <li class="step1__bonus">
      <img class="step1__bonus-icon" src="assets/images/blue-icon.png" alt="">
      <p class="step1__bonus-text">Бесплатный замер</p>
    </li>
    <li class="step1__bonus">
      <img class="step1__bonus-icon" src="assets/images/blue-icon.png" alt="">
      <p class="step1__bonus-text">Бонус к заказу</p>
    </li>
  </ul>

  <h2 class="step1__question-title title-default">1. Выберите модель кухни</h2>
  <div class="row step1__question">
    <div class="col-sm-12 col-md-4">
      <div (click)="onImageClick('urban')" class="step1__question__item">
        <img src="assets/images/{{imageFilenames.urban}}" class="step1__question__item__image" alt="URBAN image">
        <h3 class="step1__question__item__title">URBAN</h3>
        <p class="step1__question__item__description">Уголок уюта в интенсивной городской среде</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div (click)="onImageClick('bergen')" class="step1__question__item">
        <img src="assets/images/{{imageFilenames.bergen}}" class="step1__question__item__image" alt="URBAN image">
        <h3 class="step1__question__item__title">Bergen</h3>
        <p class="step1__question__item__description">Отлична вписана в интерьер современного жилья</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div (click)="onImageClick('solo')" class="step1__question__item">
        <img src="assets/images/{{imageFilenames.solo}}" class="step1__question__item__image" alt="URBAN image">
        <h3 class="step1__question__item__title">SOLO</h3>
        <p class="step1__question__item__description">Функциональное решение для маленькой квартиры</p>
      </div>
    </div>
  </div>
</div>
