@import "variables";

.result {
  &__title {
    margin-bottom: 40px;
  }
  &__image {
    width: 100%;
  }
  &__description {
    margin-top: 10px;
    font-family: $italic;
    font-size: 15px;
    line-height: 18px;
    color: $text-main;
    opacity: .8;
  }

  &__price {
    padding-left: 20px;
  }

  &__price-count, &__time-count {
    margin: 0 0 5px 0;
    font-family: $regular;
    font-size: 22px;
    color: $text-main
  }

  &__configuration-title {
    font-family: $bold;
    font-size: 18px;
    color: $text-main;
    margin-top: 10px;

  }

  &__configuration {
    &-item {
      margin: 0 0 5px 0;
      font-family: $regular;
      font-size: 17px;
      color: $text-main;
    }
  }

  &__bonus {
    &__title {
      font-family: $bold;
      font-size: 20px;
      color: $text-main;
    }
    &__list {
      margin-top: 20px;
      &-item {
        display: flex;
        flex-direction: row;
        margin: 10px 0 0 10px;
      }
      &-icon {
        width: 18px;
        height: 18px;
      }
      &-text {
        font-family: $regular;
        font-size: 18px;
        color: $text-main;
      }
    }

    &__button-container {
      margin: 20px 0 0 0;
      display: flex;
    }
    &__button {
      width: 100%;
      max-width: 400px;
      text-align: center;
    }
  }

  &__address {
    margin: 30px 0 30px 0;
    &__title {
      font-family: $bold;
      font-size: 24px;
      color: $text-main;
      text-align: center;
    }
    &__map {
      width: 100%;
      max-width: 750px;
      height: 400px;
      margin: 30px auto 0 auto;
    }
  }
}

.line {
  margin: 10px 0 5px 0;
  width: 80%;
  height: 1px;
  background: $text-main;
  opacity: .6;
}
