@import "variables";

.step3 {
  margin-bottom: 30px;

  .row {
    display: flex;
    align-items: center;
  }

  &__form {
    text-align: center;
    margin-top: 30px;
  }

  &__row2 {
    margin: 20px 0;
  }

  &__size {
    margin: 0 auto;
     &__text, &__label {
       font-family: $regular;
       font-size: 18px;
       color: $text-main;
     }
    &__input {
      font-family: $regular;
      font-size: 18px;
      color: $text-main;
      width: 120px;
      padding: 0 5px;
    }
    &__label {
      margin-left: 10px;
    }
  }

  &__image {
    width: 100%;
    max-width: 350px;
  }

  &__button-container {
    margin: 20px 0 15px 0;
    display: flex;
    justify-content: center;
  }

  &__button {
    width: 90%;
    max-width: 250px;
    text-align: center;
  }

  @media screen and (max-width: 768px){
    &__size-left-col {
      order: 0;
    }
    &__size-right-col {
      order: 1;
    }
    &__size-image-col {
      order: 2;
    }
    &__row2 {
      margin-top: 0;
    }
  }
}
