<form [formGroup]="sizeForm" (ngSubmit)="onFormSubmit()" class="step3">

  <h2 class="step3__title title-default">3. Укажите размеры</h2>
  <p class="second-title-default">Осталось ответить на 2 вопроса, чтобы получить расчет и гарантированный бонус</p>

  <div class="step3__form">

    <div class="row step3__row1">
      <div class="col-12">
        <div *ngIf="inputsDisplayConfig.top" class="step3__size step3__size-top">
          <p class="step3__size__text">Длинна верхней части: </p>
          <input
            formControlName="top"
            [ngClass]="{'input-invalid': !validationStatus.top}"
            class="step3__size__input"
            id="size-top"
            type="text"
            placeholder="0">
          <label class="step3__size__label" for="size-top">мм</label>
        </div>
      </div>
    </div>

    <div class="row step3__row2">
      <div class="col-12 col-md-4 col-lg-3 step3__size-left-col">
        <div *ngIf="inputsDisplayConfig.left" class="step3__size step3__size-left">
          <p class="step3__size__text">Длинна левой части: </p>
          <input
            formControlName="left"
            class="step3__size__input"
            [ngClass]="{'input-invalid': !validationStatus.left}"
            id="size-left"
            type="text"
            placeholder="0">
          <label class="step3__size__label" for="size-left">мм</label>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-6 step3__size-image-col">
        <img src="assets/images/{{imageName}}" class="step3__image" alt="Kitchen schema">
      </div>

      <div class="col-12 col-md-4 col-lg-3 step3__size-right-col">
        <div *ngIf="inputsDisplayConfig.right" class="step3__size step3__size-right">
          <p class="step3__size__text">Длинна правой части: </p>
          <input
            formControlName="right"
            [ngClass]="{'input-invalid': !validationStatus.right}"
            class="step3__size__input"
            id="size-right"
            type="text"
            placeholder="0">
          <label class="step3__size__label" for="size-right">мм</label>
        </div>
      </div>
    </div>
  </div>

  <div class="step3__button-container">
    <button type="submit" class="step3__button action-button">Далее</button>
  </div>

  <p class="validation-error" *ngIf="!validationStatus.form">Введите корректные данные!</p>

  <div class="step__prev-container">
    <a href="#" routerLink="/step2" class="step__prev-button">Назад</a>
  </div>

</form>
