<div class="step3">
  <h2 class="step3__title title-default">3. Укажите размеры</h2>

  <div class="step3__form">

    <div class="step3__size step3__size-top">
      <p class="step3__size__text">Длинна верхней части: </p>
      <input class="step3__size__input" id="size-top" type="number">
      <label class="step3__size__label" for="size-top">мм</label>
    </div>

    <div class="row">
      <div class="step3__size step3__size-left">
        <p class="step3__size__text">Длинна левой части: </p>
        <input class="step3__size__input" id="size-left" type="number">
        <label class="step3__size__label" for="size-left">мм</label>
      </div>

      <img src="assets/images/schema-u.png" class="step3__image" alt="Kitchen schema">

      <div class="step3__size step3__size-right">
        <p class="step3__size__text">Длинна правой части: </p>
        <input class="step3__size__text" id="size-right" type="number">
        <label class="step3__size__label" for="size-right">мм</label>
      </div>
    </div>

    <!--<div class="step3__size step3__size-bottom">-->
      <!--<p class="step3__size__text">Длинна нижней части: </p>-->
      <!--<input class="step3__size__input" id="size-bottom" type="number">-->
      <!--<label class="step3__size__label" for="size-bottom">мм</label>-->
    <!--</div>-->
  </div>
  <div class="step3__button-container">
    <a href="#" routerLink="/step4" class="step3__button action-button">Далее</a>
  </div>
</div>
