
<div class="container-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <header class="header">
          <a routerLink="/" class="logo">
            <span class="logo__title">Amaya</span>
            <span class="logo__description">Изготовление и продажа кухонной мебели</span>
          </a>

          <div class="contacts">
            <div class="contacts__left">
              <a href="{{phoneNumber1Link}}" class="contacts__phone">
                <img src="assets/images/phone.png" class="contacts__icon" alt="phone icon">
                <span>{{phoneNumber1}}</span>
              </a>
              <a href="{{phoneNumber2Link}}" class="contacts__phone">
                <img src="assets/images/phone.png" class="contacts__icon" alt="phone icon">
                <span>{{phoneNumber2}}</span>
              </a>
              <a href="{{showroomAddressLink}}" target="_blank" class="contacts__address">
                <img src="assets/images/location.png" class="contacts__icon" alt="location icon">
                <span>{{showroomAddress}}</span>
              </a>
            </div>
            <div class="contacts__right">
              <div><button (click)="openConsultModal(consultModal)" class="contacts__button action-button">Получить консультацию</button></div>
            </div>
          </div>
        </header>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
          <router-outlet (activate)="onActivate($event)"></router-outlet>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="contacts-footer">
          <p class="contacts-footer__title">Контактные данные</p>
          <a href="{{phoneNumber1Link}}" class="contacts__phone">
            <img src="assets/images/phone.png" class="contacts__icon" alt="phone icon">
            <span>{{phoneNumber1}}</span>
          </a>
          <a href="{{phoneNumber2Link}}" class="contacts__phone">
            <img src="assets/images/phone.png" class="contacts__icon" alt="phone icon">
            <span>{{phoneNumber2}}</span>
          </a>
          <a href="{{showroomAddressLink}}" target="_blank" class="contacts__address">
            <img src="assets/images/location.png" class="contacts__icon" alt="location icon">
            <span>{{showroomAddress}}</span>
          </a>
        </div>
        <footer class="footer">
            <p class="footer__title">Мы в соц сетях</p>
            <div class="footer__social">
              <a href="{{facebookLink}}" target="_blank" class="footer__social-item"><img src="assets/images/facebook.png" class="footer__social-item-image" alt="Facebook"></a>
              <a href="{{telegramLink}}" target="_blank" class="footer__social-item"><img src="assets/images/telegram.png" class="footer__social-item-image" alt="Telegram"></a>
              <a href="{{instagramLink}}" target="_blank" class="footer__social-item"><img src="assets/images/instagram.png" class="footer__social-item-image" alt="Instagram"></a>
              <a href="{{viberLink}}" target="_blank"class="footer__social-item"><img src="assets/images/viber.png" class="footer__social-item-image" alt="Viber"></a>
            </div>
            <p class="footer__copyright">© AMAYA 2019</p>
        </footer>
      </div>
    </div>

  </div>
</div>




<ng-template #consultModal>
  <div class="modal-header">
    <h4 class="modal-title">Бесплатная консультация</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="modal-text">Оставьте заявку и получите консультацию специалиста и расчет стоимости Вашей кухни</p>
    <form [formGroup]="consultForm" (ngSubmit)="onFormSubmit()" class="modal__form">
      <input
        formControlName="name"
        [ngClass]="{'input-invalid': !validationStatus.name}"
        class="modal__form__input"
        type="text"
        placeholder="Имя">
      <input
        formControlName="phone"
        [ngClass]="{'input-invalid': !validationStatus.phone}"
        class="modal__form__input"
        type="text"
        placeholder="Телефон">
      <div class="result__form__button-container">
        <button type="submit" class="modal__form__button action-button">Получить консультацию</button>
      </div>
      <p class="validation-error" *ngIf="!validationStatus.form">Введите корректные данные!</p>
    </form>
  </div>

</ng-template>
