<div class="step2">
  <h2 class="step2__title title-default">2. Выберите форму</h2>
  <div class="step2__schemas">
    <a href="#" routerLink="/step3" class="step2__schema">
      <img src="assets/images/schema-angle.png" class="step2__schema__image" alt="Shape image">
      <p class="step2__schema__text">Угловая</p>
    </a>
    <a href="#" routerLink="/step3" class="step2__schema">
      <img src="assets/images/schema-line.png" class="step2__schema__image" alt="Shape image">
      <p class="step2__schema__text">Прямая</p>
    </a>
    <a href="#" routerLink="/step3" class="step2__schema">
      <img src="assets/images/schema-u.png" class="step2__schema__image" alt="Shape image">
      <p class="step2__schema__text">П-образная</p>
    </a>
  </div>
</div>
