@import "fonts";
@import "variables";

.action-button {
  display: block;
  padding: 18px 24px;
  background: $blue-main;
  border-radius: 8px;
  font-family: $regular;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  border: none;
  transition: .2s;
  &:hover {
    color: #fff;
    text-decoration: none;
    background: #3F9BB0;;
  }
}

.second-title-default {
  width: 90%;
  max-width: 800px;
  margin: 5px auto 0 auto;
  font-family: $regular;
  font-size: 18px;
  color: $text-main;
  text-align: center;
  opacity: .9;
  @media screen and (max-width: 480px) {
    font-size: 16px;
  }
}

.title-default {
  font-family: $regular;
  font-size: 36px;
  color: $text-main;
  text-align: center;
  @media screen and (max-width: 600px) {
    font-size: 30px;
  }
  @media screen and (max-width: 480px) {
    font-size: 26px;
  }
}

.text-accent {
  color: $blue-main
}

.step__prev-button {
  position: relative;
  margin-left: 12px;
  font-family: $regular;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  transition: .05s;
  opacity: .6;
  &:hover {
    text-decoration: none;
    color: #000;
    opacity: 1;
  }
  &:before {
    position: absolute;
    left: -24px;
    top: 4px;
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-image: url("/assets/images/left-arrow.svg");
    background-size: contain;
  }
}

.step__prev-container {
  width: 100%;
  text-align: center;
}

.bold {
  font-family: $bold;
}

.input-invalid {
  border: 2px solid red;
}
