@font-face {
  font-family: PTSansRegular;
  src: url("/assets/fonts/PTSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: PTSansBold;
  src: url("/assets/fonts/PTSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: PTSansItalic;
  src: url("/assets/fonts/PTSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: PTSansBoldItalic;
  src: url("/assets/fonts/PTSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: ArialRegular;
  src: url("/assets/fonts/ArialRegular.ttf") format("truetype");
}

@font-face {
  font-family: ArialBold;
  src: url("/assets/fonts/ArialBold.ttf") format("truetype");
}
