// Colors
$text-main: #404040;
$blue-main: #94B2B9;

// Fonts
$regular: 'PTSansRegular';
$bold: 'PTSansBold';
$italic: 'PTSansItalic';
$boldItalic: 'PTSansBoldItalic';

$regularArial: 'ArialRegular';
$boldArial: 'ArialBold';
