<form [formGroup]="configurationForm" (ngSubmit)="onFormSubmit()" class="step4">

  <h2 class="step4__title title-default">4. Выберите конфигурацию</h2>
  <p class="second-title-default">Осталось ответить на последний вопрос, чтобы получить расчет и гарантированный бонус</p>

  <div class="step4__questions row">
    <div class="col-12 col-sm-6 col-md-4">
      <div class="step4__question">
        <label for="configuration-question1" class="si si-checkbox">
          <input
            formControlName="downSelection"
            id="configuration-question1"
            type="checkbox"/>
          <span class="si-label step4__question__label">Только низ кухни?</span>
        </label>
        <p class="step4__question__description">Кухня без верхних шкафчиков</p>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
      <div class="step4__question">
          <label for="configuration-question2" class="si si-checkbox">
            <input
              formControlName="freezerSelection"
              id="configuration-question2"
              type="checkbox"/>
            <span class="si-label step4__question__label">Пенал для холодильника?</span>
          </label>
          <p class="step4__question__description">Для встроенного холодильника</p>
        </div>
      </div>

    <div class="col-12 col-sm-6 col-md-4">
      <div class="step4__question">
          <label for="configuration-question3" class="si si-checkbox">
            <input
              formControlName="ovenSelection"
              id="configuration-question3"
              type="checkbox"/>
            <span class="si-label step4__question__label">Пенал для духовки/микроволновой печи?</span>
          </label>
          <!-- <p class="step4__question__description">Чтобы встроить обычную духовку в кухонный гарнитур</p> -->
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
      <div class="step4__question">
        <label for="configuration-question4" class="si si-checkbox">
          <input
            formControlName="shelvesSelection"
            id="configuration-question4"
            type="checkbox"/>
          <span class="si-label step4__question__label">Пенал с полками?</span>
        </label>
        <p class="step4__question__description">Пенал для хранения</p>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
      <div class="step4__question">
        <label for="configuration-question5" class="si si-checkbox">
          <input
            formControlName="mezzanineSelection"
            id="configuration-question5"
            type="checkbox"/>
          <span class="si-label step4__question__label">Антресоль?</span>
        </label>
        <p class="step4__question__description">Второй ярус верхних шкафов</p>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
      <div class="step4__question">
        <label for="configuration-question6" class="si si-checkbox">
          <input
            formControlName="islandSelection"
            id="configuration-question6"
            type="checkbox"
          />
          <span class="si-label step4__question__label">Остров?</span>
        </label>
        <p class="step4__question__description">Многофункциональный кухонный стол, который располагается на расстоянии от остального гарнитура</p>
        <div *ngIf="inputsDisplayConfig.islandSize">
          <p class="step4__question__description-hidden">Укажите длину</p>
          <input
            formControlName="islandSize"
            class="step4__question__input"
            [ngClass]="{'input-invalid': !validationStatus.islandSize}"
            type="text"
            id="configuration-question6-length"
          >
          <label for="configuration-question6-length" class="step4__question__label-hidden">мм</label>
        </div>
      </div>
    </div>
  </div>

  <div class="step4__button-container">
    <button type="submit" class="step4__button action-button">Рассчитать стоимость</button>
  </div>

  <p class="validation-error" *ngIf="!validationStatus.form">Введите корректные данные!</p>

  <div class="step__prev-container">
    <a href="#" routerLink="/step3" class="step__prev-button">Назад</a>
  </div>

</form>
