<div class="step4">

  <h2 class="step4__title title-default">4. Выберите конфигурацию</h2>

  <div class="step4__questions row">
    <div class="col-12 col-sm-6 col-md-4">
      <div class="step4__question">
        <label for="configuration-question1" class="si si-checkbox">
          <input id="configuration-question1" type="checkbox"/>
          <span class="si-label step4__question__label">Только низ?</span>
        </label>
        <p class="step4__question__description">Краткое пояснение вопроса</p>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
      <div class="step4__question">
          <label for="configuration-question2" class="si si-checkbox">
            <input id="configuration-question2" type="checkbox"/>
            <span class="si-label step4__question__label">Пенал холодильник?</span>
          </label>
          <p class="step4__question__description">Краткое пояснение вопроса</p>
        </div>
      </div>

    <div class="col-12 col-sm-6 col-md-4">
      <div class="step4__question">
          <label for="configuration-question3" class="si si-checkbox">
            <input id="configuration-question3" type="checkbox"/>
            <span class="si-label step4__question__label">Пенал духовка?</span>
          </label>
          <p class="step4__question__description">Краткое пояснение вопроса</p>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
      <div class="step4__question">
        <label for="configuration-question4" class="si si-checkbox">
          <input id="configuration-question4" type="checkbox"/>
          <span class="si-label step4__question__label">Пенал с полками?</span>
        </label>
        <p class="step4__question__description">Краткое пояснение вопроса</p>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
      <div class="step4__question">
        <label for="configuration-question5" class="si si-checkbox">
          <input id="configuration-question5" type="checkbox"/>
          <span class="si-label step4__question__label">Нужна ли антрисоль?</span>
        </label>
        <p class="step4__question__description">Краткое пояснение вопроса</p>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
      <div class="step4__question">
        <label for="configuration-question6" class="si si-checkbox">
          <input id="configuration-question6" type="checkbox"/>
          <span class="si-label step4__question__label">Остров?</span>
        </label>
        <p class="step4__question__description">Краткое пояснение вопроса</p>
        <!--<p class="step4__question__description">Укажите длину</p>-->
        <!--<input type="number" id="configuration-question6-length">-->
        <!--<label for="configuration-question6-length">мм</label>-->
      </div>
    </div>
  </div>

  <div class="step4__button-container">
    <a href="#" routerLink="/result" class="step4__button action-button">Рассчитать стоимость</a>
  </div>

  <div class="step__prev-container">
    <a href="#" routerLink="/step3" class="step__prev-button">Назад</a>
  </div>

</div>
